@charset "UTF-8";
/* break point: 
pc1200- tab768-1199 sp-767 */

/* 共通 */
a {
  display: inline-block;
}

body {
  font-family: 'Lato';
}

.is-raleway {
  font-family: 'Raleway';
}

/* inner */
.inner {
  width: 1100px;
  margin: 0 auto;
}

/* --header-- */
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 100;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.header__icon {
  font-size: 40px;
  opacity: 0.5;
}

.header__button {
  display: flex;
}

.header__button_item {
  font-size: 12px;
  padding: 14px 12px;
  background-color:#74cfae;
  text-decoration: none;
  color: #fff;
  transition: all .3s;
}

.header__button_item:hover {
  color: #333;
}

/* --main-- */
.main {
  padding-top: 70px;
}

/* main 1st */
.theme {
  background-color: #f2f2f2;
  padding: 250px 0;
  text-align: center;
}

.theme__title {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
}

.theme__text {
  margin-top: 20px;
  font-size: 30px;
  color: #c0c0c0;
  font-weight: lighter;
}

/* main 2nd */
.description {
  background-color: #74cfae;
}

.description__inner {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}

.description__title {
  font-size: 24px;
  color: #fff;
}

.description__text-content {
  text-align: center;
  align-items: center;
  margin-top: 30px;
  width: 650px;
}

.description__text {
  font-size: 20px;
  color: #fff;
  line-height: 30px;
  margin-top: 35px;
}

/* main 3rd */
.gallery {
  padding-top: 60px;
  padding-bottom: 70px;
  background-color: #f2f2f2;
  text-align: center;
}

.gallery__title {
  font-size: 24px;
  font-weight: lighter;
}

.gallery__img-contents {
  margin-top: 40px;
  font-size: 0;
}

.gallery__img-contents_item {
  display: inline-block;
  margin-top: 80px;
  margin-left: 100px;
}

.gallery__img-contents-btn {
  transition: all .3s;
  opacity: .7;
}

.gallery__img-contents-btn:hover {
  opacity: 1;
}

.gallery__img-contents_item:nth-child(3n+1) {
  margin-left: 0px;
}

.gallery__img-contents_item:nth-child(-n+3) {
  margin-top: 0;
}


.gallery__text-contents {
  text-align: center;
  margin-top: 90px;
}

.gallery__text-contents_item {
  display: inline-block;
  text-align: center;
  width: 650px;
  font-size: 23px;
  line-height: 30px;
  font-weight: lighter;
}

.gallery__text-contents_email {
  display: inline-block;
  text-decoration: none;
  padding: 14px 20px;
  background-color: #74cfae;
  color: #fff;
  vertical-align: top;
  transition: all .3s;
  margin-left: 90px;
}

.gallery__text-contents_email:hover {
  color: #333;
}

/* main 4th */
.skill {
  background-color: #4e4e4e;
  padding-top: 70px;
  padding-bottom: 100px;
}

.skill__title {
  text-align: center;
  color: #fff;
  font-size: 24px;
}

.skill__container {
  text-align: center;
  margin-top: 70px;
  font-size: 0;
}

.skill__cotainer_item {
  margin-left: 180px;
  display: inline-block;
  font-size: 16px;
  color: #fff;
}

.skill__container_text {
  margin-top: 20px;
}

.skill__cotainer_item:first-child {
  margin-left: 0;
}

/* main 5th */
.nav {
  background-color: #f2f2f2;
  padding-top: 200px;
  padding-bottom: 200px;
}

.nav__contents {
  text-align: center;
  font-size: 0;
}

.nav__contents_list {
  display: inline-block;
}

.nav__contents_icon {
  cursor: pointer;
  transition: all .3s;
  font-size: 48px;
  width: 185px;
  padding: 30px 0;
  color: #74cfae;
}

.nav__contents_icon:hover {
  background-color: #fff;
}

/* --footer-- */
.footer {
  background-color: #74cfae;
  padding: 20px 0;
}

.footer__text {
  color: #fff;
  text-align: right;
}


/* TAB style */
@media screen and (max-width:1199px) {
  /* 共通 */
  .inner {
    width: 97%;
  }

  /* main */
  /* main 1st */
  /* 変化無し */

 /* main 2nd */
  .description__inner {
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
  }

  .description__img {
    margin-right: 0;
  }

  .description__text-content {
    margin-left: 0;
    padding-top: 0;
    margin-top: 20px;
  }

  /* main 3rd */
  .gallery__img-contents_item {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .gallery__img-contents_item:nth-child(3n+1) {
    margin-top: 80px;
  }

  .gallery__img-contents_item:first-child {
    margin-top: 0;
  }

  .gallery__text-contents {
    margin-top: 80px;
  }

  .gallery__text-contents_item {
    width: 100%;
    margin: 0 auto;
  }
  
  .gallery__text-contents_email {
    margin-top: 40px;
    margin-left: 0;
  }

  /* main 4th */
  .skill__cotainer_item {
    margin-left: 0;
    margin-top: 88px;
    display: block;
  }

  .skill__cotainer_item:first-child {
    margin-top: 0;
  }
}

/* SP style */
@media screen and (max-width:767px) {
  /* header */
  .header__button_item {
    display: none;
  }

  .header__hamburger-menu {
    padding: 10px;
    width: 25px;
    border: 1px solid #ddd;
    border-radius: 4px;
    position: relative;
  }

  .header__hamburger-item {
    position: absolute;
    width: 25px;
    height: 1px;
    top: 0;
    right: 9px;
    border: solid 1px #ddd;
    background-color: #ddd;
  }

  .header__hamburger-item:nth-child(1) {
    top: 11px;
  }
  .header__hamburger-item:nth-child(2) {
    top: 18px;
  }
  .header__hamburger-item:nth-child(3) {
    top: 25px;
  }

  /* main */
  /* main 1st */
  .theme {
    padding: 160px 0 130px 0;
  }

  .theme__title {
    font-size: 80px;
  }

  .theme__text {
    font-size: 30px;
  }

  /* main 2nd */
  .description__text-content {
    width: 100%;
  }

  .description__text {
    width: 82%;
    margin: 0 auto;
    margin-top: 20px;
  }

  /* main 3rd */
  /* 変化なし */

  /* main 4th */
  /* 変化なし */
  
  /* main 5th */
  .nav {
    padding: 50px 15px;
  }

  .nav__contents_list {
    width: 100%;
  }

  .nav__contents_icon {
    padding: auto;
    width: 100%;
  }
}

@media screen and (min-width:768) {
  .header__hamburger-menu {
    display: none;
  }  
}